.jegybox h1 {
    text-align: center;
    text-transform: uppercase;
}
.jegyrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.jegybox {
width:300px;

box-shadow: 0 20px 50px 0 #d9d9d9;
border: 0.3px solid #cdcdcd;
background-image: linear-gradient(180deg,#fff,#f6f6f6);
text-align: center;
}
.jegybox h2 {
    text-transform: uppercase;
    color:grey;
    margin:0;
    font-size:28px;
    padding:20px 0px 20px 0px;
}
.jegybox h3 {
    margin:0;
    padding-bottom:10px;
}
.jegybox2 {
    height:620px;
    background-color: white;
    width:300px;
    box-shadow: 0 20px 50px 0 #d9d9d9;
    border: 0.3px solid #cdcdcd;
    text-align: center;
}
.felkapott {
    background-color: black;
    width:300px;
    height:60px;
    margin-top:-60px;
}
.felkapott h2 {
    color:white;
    align-items: center;
    padding-top:12px;
}
.line {
    width: 120px;
    height: 1px;
    border-style: solid;
    border-width: 1px;
    border-image-source: radial-gradient(circle at 50% 0,#b5b5b5,#fff);
    border-image-slice: 1;
    margin:0 auto;
    margin-top:20px;
}
.jegybox h4 {
    margin-top:30px;
    margin-bottom:20px;
    font-size:50px;
}
.jegybox button {
    border-color: #000;
    color: #000;
    border-radius: 20px;
    padding: 12px 25px;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: .5s;
    margin-bottom:30px;
}
.jegybox button:hover {
    transition: .5s;
    transform:scale(1.1);
}
.tick {
    width:20px;
    height:20px;
}
.descriptions {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moreticket {
    width:250px;
}
.moreticketbox:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s;
}
.moreticketbox #plus {
    font-size:2rem;
    height:40px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:2rem;
}
form label {
    font-size:1.1rem;
    margin-bottom:0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
form input {
    height:30px;
    border:0;
    color:black;
    background-color: white;
    border-bottom: 2px solid #1C4E80;
    margin-bottom:2rem;
}
form input:focus {
    outline: none;
}
.form-btn {
    color:white;
}
form button {
    background: #1C4E80;
    border:0;
    color:white;
    font-weight: bold;
    margin-top:0.5rem;
}
form button:hover {
    cursor: pointer;
}
.ticketEdit {
    background: #1C4E80;
    border:0;
    color:white;
    font-weight: bold;
    margin-top:1rem;
}
.ticketEdit:hover {
    cursor: pointer;
}
.moreticketbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C4E80;
    border-radius: 12px;
    gap:0.5rem;
    padding:0.5rem;
    color:white;
    transition: .3s;
}
.createTicket{
    width:300px;
height:600px;
box-shadow: 0 20px 50px 0 #d9d9d9;
border: 0.3px solid #cdcdcd;
background-image: linear-gradient(180deg,#fff,#f6f6f6);
text-align: center;
}
@media (max-width:1220px) {
    .jegyrow {
        height:150vh;
        gap:1rem;
    }
}