h1 {
    text-align: center;
    text-transform: uppercase;
}
.jegyrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:10rem 0rem;
}
.jegybox {
width:300px;
height:600px;
box-shadow: 0 20px 50px 0 #d9d9d9;
border: 0.3px solid #cdcdcd;
background-image: linear-gradient(180deg,#fff,#f6f6f6);
text-align: center;
}
h2 {
    text-transform: uppercase;
    color:grey;
    margin:0;
    font-size:28px;
    padding:20px 0px 20px 0px;
}
.jegybox h3 {
    margin:0;
    padding-bottom:10px;
    color:grey;
}
.jegybox2 h3 {
    margin:0;
    padding-bottom:10px;
    color:grey;
}
.jegybox2 {
    height:620px;
    background-color: white;
    width:300px;
    box-shadow: 0 20px 50px 0 #d9d9d9;
    border: 0.3px solid #cdcdcd;
    text-align: center;
}
.felkapott {
    background-color: black;
    width:300px;
    height:60px;
    margin-top:-60px;
}
.felkapott h2 {
    color:white;
    align-items: center;
    padding-top:12px;
}
.line {
    width: 120px;
    height: 1px;
    border-style: solid;
    border-width: 1px;
    border-image-source: radial-gradient(circle at 50% 0,#b5b5b5,#fff);
    border-image-slice: 1;
    margin:0 auto;
    margin-top:20px;
}
.jegybox h4 {
    margin-top:30px;
    margin-bottom:20px;
    font-size:50px;
    color:black;
}
.jegybox2 h4 {
    margin-top:30px;
    margin-bottom:20px;
    font-size:50px;
    color:black;
}
.jegybox button {
    border-color: #000;
    color: #000;
    border-radius: 20px;
    padding: 12px 25px;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: .5s;
    margin-bottom:30px;
    background: transparent;
}
.jegybox2 button {
    border-color: #000;
    color: #000;
    border-radius: 20px;
    padding: 12px 25px;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: .5s;
    margin-bottom:30px;
    background: transparent;
}
button:hover {
    transition: .5s;
    transform:scale(1.1);
}
.tick {
    width:20px;
    height:20px;
}
.descriptions {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1220px) {
    .jegyrow {
        height:150vh;
        gap:1rem;
    }
}